.node, .node-close{
    color:red;
}
/*.node{*/
/*    position:relative;*/
/*    float:left;*/
/*}*/

.openclose{
    position:relative;
    float:left;
}
.attribute-name {
    color: black;
} 
.attribute-value{
    color: blue;
} 