<?xml version="1.0" encoding="UTF-8"?>
<div id="contextmenu-container">
    <ul id="menu-context-rect" class="ui-helper-hidden" data-callerId="">
        <li class="menuHeader ui-state-disabled">rect title or id</li>
        <li>----</li>
        <li data-command="renameElement">
            <div>
                <span class="ui-icon ui-icon-pencil"/>rename
            </div>
        </li>
        <li data-command="editElement">
            <div>
                <span class="ui-icon ui-icon-arrow-2-ne-sw"/>edit
            </div>
        </li>
        <li data-command="deleteElement">
            <div>
                <span class="ui-icon ui-icon-trash"/>delete
            </div>
        </li>
<!--        
        <li data-command="cloneElement">
            <div>
                <span class="ui-icon ui-icon-copy"/>clone
            </div>
        </li>
-->
        <li data-command="sendToOCR">
            <div>
                <span class="ui-icon ui-icon-script"/>send to OCR
            </div>
        </li>
        <li class="fillColor">
            <div>
                <span/>Color: <input class="colorpicker"/>
            </div>
        </li>
    </ul>
    <ul id="menu-context-path" class="ui-helper-hidden" data-callerId="">
        <li class="menuHeader ui-state-disabled">path title or id</li>
        <li>----</li>
        <li data-command="renameElement">
            <div>
                <span class="ui-icon ui-icon-pencil"/>rename
            </div>
        </li>
        <li data-command="editElement">
            <div>
                <span class="ui-icon ui-icon-arrow-2-ne-sw"/>edit
            </div>
        </li>
        <li data-command="deleteElement">
            <div>
                <span class="ui-icon ui-icon-trash"/>delete
            </div>
        </li>
<!--
        <li data-command="cloneElement">
            <div>
                <span class="ui-icon ui-icon-copy"/>clone
            </div>
        </li>
-->
        <li data-command="sendToOCR">
            <div>
                <span class="ui-icon ui-icon-script"/>send to OCR
            </div>
        </li>
        <li class="fillColor">
            <div>
                <span/>Color: <input class="colorpicker"/>
            </div>
        </li>
    </ul>
    <ul id="menu-context-g" class="ui-helper-hidden">
        <li class="menuHeader ui-state-disabled">group title or id</li>
        <li>----</li>
        <li>
            <div>
                <span class="ui-icon ui-icon-plus"/>new...
            </div>
            <ul>
                <li data-command="newGroup">
                    <div>subgroup</div>
                </li>
                <li data-command="newRect">
                    <div>rect</div>
                </li>
            </ul>
        </li>
        <li data-command="renameElement">
            <div>
                <span class="ui-icon ui-icon-pencil"/>rename
            </div>
        </li>
        <li data-command="deleteElement">
            <div>
                <span class="ui-icon ui-icon-trash"/>delete
            </div>
        </li>
<!--        
        <li data-command="cloneElement">
            <div>
                <span class="ui-icon ui-icon-copy"/>clone
            </div>
        </li>
-->
        <li class="fillColor">
            <div>
                <span/>Color: <input class="colorpicker"/>
            </div>
        </li>
    </ul>
    <ul id="menu-context-svg" class="ui-helper-hidden">
        <li class="menuHeader ui-state-disabled">svg title or id</li>
        <li>----</li>
        <li>
            <div>
                <span class="ui-icon ui-icon-plus"/>new...
            </div>
            <ul>
                <li data-command="newGroup">
                    <div>subgroup</div>
                </li>
                <li data-command="newRect">
                    <div>rect</div>
                </li>
            </ul>
        </li>
        <li data-command="renameElement">
            <div>
                <span class="ui-icon ui-icon-pencil"/>rename<
            </div>
        </li>
        <li data-command="deleteElement">
            <div>
                <span class="ui-icon ui-icon-trash"/>delete
            </div>
        </li>
        <li data-command="cloneElement">
            <div>
                <span class="ui-icon ui-icon-copy"/>clone
            </div>
        </li>
    </ul>
</div>